.home {
	color: red;
	margin-top: 50px;
	margin-left: 50px;
	background-color: antiquewhite;
}

.text {
	color: yellow;
	background-color: orange;
}

p {
	color: beige;
	background-color: blueviolet;
	margin: 2%;
	padding: 2%;
	text-align: right;
}

.box {
	width: 100vw;
	height: 100vh;
	background-color: brown;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box2 {
	width: 40px;
	height: 40px;
	background-color: burlywood;
}
